<head>
  <linf rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css.map" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" >
  <style>
    head {
      background-color: black;
    }
    body {
      margin: auto;
      width: 60%;
    }
  </style>
</head>
<body>
<div id='all'>
<nav style='background-color:#1dcaff' class="navbar" role="navigation" aria-label="dropdown navigation">
  <a class="navbar-item">
   Twitter
  </a>
</nav>
<br>
<% data.forEach((data)=>{ %>
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="<%= data.user.profile_image_url_https %>" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= data.user.name %></strong> <small>@<%= data.user.screen_name %></small> <small></small>
          <br>
 	  <%= data.created_at %>
	  <br>
	  <%= data.text %>
        </p>
	
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
  	  </a>
        </div>
      </nav>
    </div>
  </article>
</div>
<%})%>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script>
  
  var socket = io()
  socket.on('new message',(data) => {
    console.log(data)
    var old = document.getElementById('box').innerHTML
    var new = 'hello'
  document.getElementById('box').innerHTML = new+old
  })

</script>
